<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>JugHead</title>
        <link rel="stylesheet" href="{% static 'css/jughead4.css' %}">
    </head>
<body>
    <h1>Enjoy the act!</h1>
    <table>
      <tr> 
        <th>Routine</th> 
        <th>Drops</th> 
      </tr>

    {% for p in my_post %}
      <tr> 
        <td>3 balls + can</td> 
        <td>
          {{ p.R1 }}
        </td> 
      </tr> 
      <tr> 
        <td>3 balls</td> 
        <td>
          {{ p.R2 }}
        </td> 
      </tr> 
      <tr> 
        <td>3 balls + club</td> 
        <td>
          {{ p.R3 }}
        </td> 
      </tr> 
      <tr> 
        <td>4 balls part 1</td> 
        <td>
          {{ p.R4 }}
        </td> 
      </tr> 
      <tr> 
        <td>4 balls part 2</td> 
        <td>
          {{ p.R5 }}
        </td> 
      </tr> 
      <tr> 
        <td>5 balls reverse cascade</td> 
        <td>
          {{ p.R6 }}
        </td> 
      </tr> 
      <tr> 
        <td>5 balls left/right half shower</td> 
        <td>
          {{ p.R7 }}
        </td> 
      </tr> 
      <tr> 
        <td>5 balls 3 left 2 right, 3 right 2 left</td> 
        <td>
          {{ p.R8 }}
        </td> 
      </tr> 
      <tr> 
        <td>5 catch 1 on foot (keep 4 going)</td> 
        <td>
          {{ p.R9 }}
        </td> 
      </tr> 
      <tr> 
        <td>4 balls kick into 5 (stylish kick)</td> 
        <td>
          {{ p.R10 }}
        </td> 
      </tr> 
      <tr> 
        <td>5 ball shower</td> 
        <td>
          {{ p.R11 }}
        </td> 
      </tr> 
       
      <tr>  
      <td>
      <p></p>
        <a href="{% url 'result' p.id %}">Results</a>
      </td>
      </tr>
    {% endfor %}
    </table>
    <p></p>
</body>
</html>

