
<!DOCTYPE html>
{% load static %}

<html>
    <head>
        <title>JugHead</title>
        <link rel="stylesheet" href="{% static 'css/jughead4.css' %}">
        <link rel="stylesheet" href="{% static 'scripts/main.js' %}">
    </head>
<body>
<form action="{% url 'index' %}" method="post">
{% csrf_token %}

<script>
function PlusMinus(ElemID, PlusMinus){
// Add or subtract 1 from guess, can't go below 0 or over 5
    let t=document.getElementById(ElemID);
    let v=Number(t.value);
    if(v+PlusMinus<6 && v+PlusMinus>-1){
        t.value = (v+PlusMinus).toString();
    }
}
</script>
    <h1>Bill's Juggling Act</h1>
    <table>

      <tr> 
        <th>Routine</th> 
        <td></td> <!--Why was this needed when I added the loop?-->
        <th>Drops</th> 
      </tr> 
        {% for routine in routines %}
      <tr>
            <td>{{routine}}<td>
            <td>
              <input type="number" id="R{{forloop.counter}}" name="R{{forloop.counter}}" min="0" max="5" value="0">
              <button type="button" onclick="PlusMinus('R{{forloop.counter}}', 1)" id="B{{forloop.counter}}" name="B" style="height:40px;width:40px">+</button>
              <button type="button" onclick="PlusMinus('R{{forloop.counter}}', -1)" id="b{{forloop.counter}}" name="b" style="height:40px;width:40px">-</button>
            </td> 
          </tr>
        {% endfor %}
          
    </table>
    <p></p>
    <!--<script src="scripts/main.js"></script>-->
    Name: <input type="text" id="Name" name="Name" required>
    <input type="submit" value="Submit">

</form> 

</body>
</html>